/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/* Divs and images */

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.make-some-margin {
    margin-left: 200px;
    margin-right: 200px;
}

.w-navbar-wrapper {
    width: 235px;
}

.w-40p{
    width: 40px;
}

.loader{
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card{
    height: 445px;
    width: 386px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 0px;
    transition: 300ms;
    margin-left: 40px;
}

.product-card:hover{
    box-shadow: 0px 4px 35px 0px #A8ACB030;
    transition: 300ms;
}

.product-cover {
    height: 330px !important;
    width: 100%;
    object-fit: cover;
    object-position: middle;
    transition: 500ms;
}

.product-card-add-img {
    position: absolute;
    margin-top: 18%;
    margin-left: 18%;
    z-index: 3;
    transition: 500ms;
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
    height:auto;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
    transition: 500ms;
}

.product-images {
    display: flex;
    flex-direction: column;
}

.product-preview{
    height: 690px;
    width: 690px;
    margin-left: 50px;
    margin-right: 50px;
    object-fit: cover;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.product-attributes {
    display: flex;
}

.product-attribute-text {
    font-family: Source Sans Pro;
    min-width: 63px;
    min-height: 45px;
    border-style: solid;
    border-width: 2px;
    border-color: #1D1F22;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.product-attribute-swatch {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.product-attribute-text-selected {
    min-width: 63px;
    min-height: 45px;
}


/* colours */

.c-primary {
    color: #5ECE7B;
}

.c-black {
    color: #1D1F22;
}

.c-white {
    color: #FFFFFF;;
}

/* Typography */

a {
    text-decoration: none !important;
}

h1 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    font-family: 'Raleway';
    font-size: 42px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    text-transform: capitalize;
}

.label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 500ms;
    cursor: pointer;
    color:#1D1F22 !important;
    text-decoration: none !important;
}

.label:hover{
    color:#9f9f9f !important;
    transition: 200ms;
}

.label-active {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #5ECE7B !important;
    cursor: pointer;
    text-decoration: none !important;
}

.product-card-title {
    padding-top: 25px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 300 !important;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color:#1D1F22 !important;
}

.product-card-price {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500 !important;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    color:#1D1F22 !important;
}

.product-span {
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
/* Cursor */

* {
    cursor: url('assets/ui/cursor.svg'), auto;
}

/* Animations */

.pulse {
    animation: pulse 1500ms infinite;
}

@keyframes pulse {

    0% {
        transform:scale(1)
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
    
}

.image-hover:hover {
    transform: scale(1.09);
    opacity: 0.6;
    transition: 500ms;
}

.fadeInTop {
    animation: fadeInTop 500ms;
}

.fadeOutTop {
    animation: fadeOutTop 500ms;
    opacity: 0;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeOutTop {

    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
